<div class="software-name">Sistema POS</div>
<nav class="sidebar">
  <ul class="sidebar-list">
    <div class="divider"></div>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">Productos</a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">Ventas</a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">Proveedores</a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">Empleados</a>
    </li>
  </ul>
</nav>
